.home {
  display: flex;
  flex-direction: row;
}

.category__container{
  display: flex;
  flex-direction: row;
}
.price-filter-container {
  /* display: flex; 
  flex-direction: row; */
  /* padding: 50px; */
  width: 40%;
  display: flex;
  flex-direction: row
  
}
.error-box{
  width: 100%;
  margin-top: 20px;
}
.home__row{
  margin-top: 30px;
}

.price-filter {
  padding: 1%; 
  width:50%;
  /* display: inline;  */
}

.price-filter li {
 /* display:block;
float:left;  */
  width: 220px;
  border: 1px solid #ddd; 
  
  font-size: 18px;
  padding: 12px; 
  
}
.price-filter li a {
  text-decoration: none; 
  color: black; ;
  /* background-color: #f6f6f6;  */
  /* padding: 12px; 
  display: block; */
}

.price-filter li:hover {
  background-color: #eee; 
} 


.pagination-container {
    text-align: center;
    padding: 20pt;
    
}

.pagination {
    display: inline-block;
  }
  
  .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 4px;
  }
  
  .pagination .active span {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination span:hover:not(.active) {
    background-color: #ddd;
    }