.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.row-center{
  display: flex;
  
}
.checkout-steps{
  max-width:  58rem ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}

.checkout-steps > div {
  text-align: center;
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem !important;
  padding: 5px;
}
.form label {
  margin: 0.5rem 0 ;
}
input, button{  
  padding: 5px;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
.order-detail{
  position: relative;
  left: 50px;
  margin: 5px;
  margin-right: 0px;
}

.order-history{
  margin-top: 10px;
  margin-bottom: 200px;
}
.order-title{
  margin-bottom: 10px;
}

.table-content{
  display: flex;
}

.form.a {
  width: 135%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.form.a > div {
margin: -0.5rem !important;
}

@media screen and (max-width: 1000px){
  .checkout-steps{
    max-width:  60% ;
  }
}
nav.sc-jSgupP.exXGsS {
  position: relative;
  left: 0px;
}

.row.contentInside {
  padding-top: 70px;
  padding-left: 100px;
}

.sc-hKgILt.ioNZru {
  width: 100%;
}
.ahihi{
  margin-left: 0px;
  margin-right: 0px;
}
